<section>
  <cultural-logo-intro
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0" />
  <character-intro pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0" />
  @if (appService.country() === 'id') {
    <parents-info pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      leaveClass="animate-leave fade-out-0" />
  }
  <event-info pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0" />
  @if (appService.country() === 'sg') {
    <rsvp-form pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      leaveClass="animate-leave fade-out-0" />
  }
  <separator pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0" />
  <location pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0" />
  @if (appService.country() === 'sg') {
    <separator pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      leaveClass="animate-leave fade-out-0" />
    <getting-here pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      leaveClass="animate-leave fade-out-0" />
  }
  <separator pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0" />
  <gallery pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"/>
  <separator pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0" />
  <countdown pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
    leaveClass="animate-leave fade-out-0" />
</section>
<music-player />