:host {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0px 16px;
}

img {
  margin: 0px auto;
}

#image {

  &__arch {
    max-width: 1000px;
    width: 100%;
    filter: drop-shadow(gray 16px 16px 10px);
    aspect-ratio: auto 968 / 1151;
  }
  
  &__couple {
    max-width: 1000px;
    width: 100%;
    aspect-ratio: auto 968 / 139;
  }
}