<picture>
  <source type="image/webp" [srcset]="$safeNavigationMigration(content()?.COUPLE_IMAGE_WEBP)">
  <img [id]="$safeNavigationMigration(content()?.COUPLE_IMAGE_ID)" [alt]="$safeNavigationMigration(content()?.COUPLE_IMAGE_ALT)"
    [title]="$safeNavigationMigration(content()?.COUPLE_IMAGE_TITLE)" [src]="$safeNavigationMigration(content()?.COUPLE_IMAGE_PATH)" />
</picture>
<h1 id="character-intro">
  <picture>
    <source type="image/webp" [srcset]="$safeNavigationMigration(content()?.COUPLE_NAME_WEBP)">
    <img [id]="$safeNavigationMigration(content()?.COUPLE_NAME_ID)" [alt]="$safeNavigationMigration(content()?.COUPLE_NAME_ALT)"
      [title]="$safeNavigationMigration(content()?.COUPLE_NAME_TITLE)" [src]="$safeNavigationMigration(content()?.COUPLE_NAME_PATH)" />
  </picture>
</h1>