:host {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: url('/jasper-oktavina-wedding/assets/images/background-tile.jpg');
  background-repeat: repeat;

  &.opened {
    transition: all 2s, opacity .5s;
    height: 0px;
    top: -100%;
    opacity: .2;
  }
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #454340;
}

img {
  margin: 0px auto;
}

.icon {
  margin-right: 16px;
  display: inline-block;
}

#invitation {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 0px 16px;
    max-width: 1000px;
    margin: 0px auto;
    height: 100dvh;
    overflow: hidden auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    max-width: 1000px;
    margin: 0px auto;

    img {
      flex-shrink: 1;
    }
  }
}

#image {

  &__header {
    max-width: 90vw;

    @media (min-width: 769px) {
      max-width: 800px;
    }
  }

  &__footer {
    max-width: 90vw;

    @media (min-width: 769px) {
      max-width: 800px;
    }
  }
  
  &__couple {
    max-width: 1000px;
    width: 100%;
  }
}