:host {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: url('/jasper-oktavina-wedding/assets/images/background-tile.jpg');
  background-repeat: repeat;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #454340;
}

img {
  margin: 0px auto;
}

.icon {
  margin-right: 16px;
  display: inline-block;
}

#invitation {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 0px 16px;
    max-width: 1000px;
    margin: 0px auto;
    height: 100%;
    overflow: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    max-width: 1000px;
    margin: 0px auto;
  }
}

#image {

  &__header {
    max-width: 800px;
    width: 100vw;
    mix-blend-mode: multiply;
  }

  &__footer {
    max-width: 800px;
    width: 100vw;
    mix-blend-mode: multiply;
  }
  
  &__couple {
    max-width: 1000px;
    width: 100%;
  }
}