:host {
  display: block;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-repeat: repeat;

  &.opened {
    transition: all 2s, opacity .5s;
    height: 0px;
    top: -100%;
    opacity: .2;
  }

  &.id {
    background-image: image-set(
      url('/jasper-oktavina-wedding/assets/images/background-tile-id.webp') type('image/webp'),
      url('/jasper-oktavina-wedding/assets/images/background-tile-id.jpg') type('image/jpeg')
    );
  }

  &.sg {
    background-image: image-set(
      url('/jasper-oktavina-wedding/assets/images/background-tile-sg.webp') type('image/webp'),
      url('/jasper-oktavina-wedding/assets/images/background-tile-sg.png') type('image/png')
    );
  }
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #454340;
  white-space: pre-line;
}

img {
  margin: 0px auto;
}

.icon {
  margin-right: 16px;
  display: inline-block;
}

#invitation {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 0px 16px;
    max-width: 1000px;
    margin: 0px auto;
    height: 100dvh;
    overflow: hidden auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    max-width: 1000px;
    margin: 0px auto;

    img {
      flex-shrink: 1;
    }
  }

  &__name-placeholder {
    width: 100%;
    height: 138px;
  }
}

#image {

  &__header {
    max-width: 90vw;
    aspect-ratio: auto 800 / 311;
    filter: drop-shadow(gray 8px 8px 5px);

    @media (min-width: 769px) {
      max-width: 800px;
    }
  }

  &__footer {
    max-width: 90vw;
    aspect-ratio: auto 800 / 158;
    filter: drop-shadow(gray 8px 8px 5px);

    @media (min-width: 769px) {
      max-width: 800px;
    }
  }
  
  &__couple {
    max-width: 1000px;
    width: 100%;
    aspect-ratio: auto 968 / 139;
  }
}

button {
  width: 100%;

  @media (min-width: 769px) {
    width: fit-content;
  }
}