<p class="text-4xl">
  <span>LOKASI</span>
</p>
<p class="text-lg">
  <span class="icon">📍</span><span>TEMPAT ACARA: SAM ANNA</span><br>
</p>
<p class="text-xs">
  <span class="icon">📍</span>
  <a href="https://maps.app.goo.gl/6Bt1eZtAWjWejac17" target="_blank">
    Sam's Anna Seafood, Jalan Yos Sudarso Gang, Jl. Jahan II, RT.03/RW.02, Kp. Baru, Kec. Tanjungpinang Bar., Kota Tanjung Pinang, Kepulauan Riau 29112, Indonesia
  </a>
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3989.3198804328495!2d104.442568!3d0.9056742!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d972f248abaccd%3A0xc30518322a2cd904!2sSam&#39;s%20Anna%20Seafood!5e0!3m2!1sen!2ssg!4v1754929043793!5m2!1sen!2ssg"
  width="100%" height="450" style="border:3px solid #ac8c7b;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
</iframe>