<picture (click)="playTiltAndMoveShake($event)">
  <source type="image/webp" [srcset]="$safeNavigationMigration(content()?.LOGO_IMAGE_WEBP)">
  <img [id]="$safeNavigationMigration(content()?.LOGO_IMAGE_ID)" [alt]="$safeNavigationMigration(content()?.LOGO_IMAGE_ALT)"
    [title]="$safeNavigationMigration(content()?.LOGO_IMAGE_TITLE)" [src]="$safeNavigationMigration(content()?.LOGO_IMAGE_PATH)"
    [width]="$safeNavigationMigration(content()?.LOGO_IMAGE_WIDTH)" [height]="$safeNavigationMigration(content()?.LOGO_IMAGE_HEIGHT)"
    [class.small]="appService.country() === 'sg'" />
</picture>
<h1 class="text-5xl" id="cultural-logo-intro">
  {{ content()?.TITLE }}
  @if (content()?.TITLE_CN) {
    <span class="text-3xl">
      <br>
      {{ content()?.TITLE_CN }}
    </span>
  }
</h1>
<p class="text-base">
  {{ content()?.INTRO_TEXT }}
</p>