<h1 class="text-5xl">
  {{ content()?.TITLE }}
</h1>
<p class="text-lg">
  <span class="icon pi pi-calendar"></span><span>{{ content()?.DATE }}</span><br>
  <span class="icon pi pi-clock"></span><span>{{ content()?.TIME }}</span>
</p>
<div class="timer__container">
  <div class="timer__number">
    <p class="text-2xl">{{ days() }}</p>
    <p class="text-xs">{{ content()?.DAY }}</p>
  </div>
  <div class="timer__number">
    <p class="text-2xl">{{ hours() }}</p>
    <p class="text-xs">{{ content()?.HOUR }}</p>
  </div>
  <div class="timer__number">
    <p class="text-2xl">{{ minutes() }}</p>
    <p class="text-xs">{{ content()?.MINUTE }}</p>
  </div>
  <div class="timer__number">
    <p class="text-2xl">{{ seconds() }}</p>
    <p class="text-xs">{{ content()?.SECOND }}</p>
  </div>
</div>
<button pButton (click)="downloadCal()">
  <span pButtonLabel>
    <span class="icon pi pi-calendar"></span>
    <span>{{ content()?.ADD_TO_CALENDAR }}</span>
  </span>
</button>