main {
  background-repeat: repeat;

  &.id {
    background-image: image-set(
      url('/jasper-oktavina-wedding/assets/images/background-tile-id.webp') type('image/webp'),
      url('/jasper-oktavina-wedding/assets/images/background-tile-id.jpg') type('image/jpeg')
    );
  }
  
  &.sg {
    background-image: image-set(
      url('/jasper-oktavina-wedding/assets/images/background-tile-sg.webp') type('image/webp'),
      url('/jasper-oktavina-wedding/assets/images/background-tile-sg.png') type('image/png')
    );
    background-repeat: repeat;
  }
}

img {
  margin: 0px auto;
  filter: drop-shadow(gray 8px 8px 5px);
}

#image {

  &__header {
    max-width: 800px;
    width: 100vw;
  }

  &__footer {
    max-width: 800px;
    width: 100vw;
  }
}

#rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}