main {
  background: url('/jasper-oktavina-wedding/assets/images/background-tile.jpg');
  background-repeat: repeat;
}

img {
  margin: 0px auto;
}

#image {

  &__header {
    max-width: 800px;
    width: 100vw;
    mix-blend-mode: multiply;
  }

  &__footer {
    max-width: 800px;
    width: 100vw;
    mix-blend-mode: multiply;
  }
}