<main [class]="country()">
  @if (country().length > 0) {
    <invitation [country]="country()" (onOpen)="open()" />
  }
  @defer {
    @if (opened()) {
      <header>
        <picture>
          <source type="image/webp" [srcset]="$safeNavigationMigration(content()?.HEADER?.WEBP)">
          <img [id]="$safeNavigationMigration(content()?.HEADER?.ID)" [alt]="$safeNavigationMigration(content()?.HEADER?.ALT)"
            [title]="$safeNavigationMigration(content()?.HEADER?.TITLE)" [src]="$safeNavigationMigration(content()?.HEADER?.PATH)" />
        </picture>
      </header>
      <router-outlet />
      <footer>
        <picture>
          <source type="image/webp" [srcset]="$safeNavigationMigration(content()?.FOOTER?.WEBP)">
          <img [id]="$safeNavigationMigration(content()?.FOOTER?.ID)" [alt]="$safeNavigationMigration(content()?.FOOTER?.ALT)"
            [title]="$safeNavigationMigration(content()?.FOOTER?.TITLE)" [src]="$safeNavigationMigration(content()?.FOOTER?.PATH)" />
        </picture>
      </footer>
    }
  }
</main>