@use "tailwindcss";
@use "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

@font-face {
  font-family: josephsophia;
  src: url(assets/fonts/josephsophia.otf) format("opentype"), url(assets/fonts/josephsophia.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Hannotate TC';
  src: url(assets/fonts/HannotateTC.ttf) format("truetype");
  font-display: swap;
}

html, body {
  overscroll-behavior: none;
}